* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chess_board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border: 1px solid #000;
}

.block {
  width: 70px;
  height: 70px;
  border: 1px solid #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  margin: 0 auto 50px;
  font-size: 24px;
  font-weight: 600;
}

.block-char {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
}

.block-index {
  position: absolute;
  left: -30%;
  top: 50%;
  transform: translatey(-50%);
  font-size: 25px;
}

.active-chess {
  transform: translateY(-10px);
  scale: 1.1;
}

.active-block {
  background-color: rgb(206, 244, 255) !important;
}

.block-white {
  background-color: #dbdbdb;
}

.block-black {
  background-color: #302e30;
}

.chess-white {
  position: absolute;
  top: 15%;
  right: 5%;
  max-width: 300px;
}

.chess-black {
  position: absolute;
  left: 5%;
  bottom: 15%;
  max-width: 300px;
}

.win {
  position: absolute;
  z-index: 10;
  background-color: #6e6e6e;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.95;
}

.win-text {
  position: absolute;
  width: 50%;
  height: 25%;
  font-size: 30px;
  background-color: #343334;
  color: #fff;
  font-family: monospace;
  border-radius: 30px;
  padding: 30px;
}

@media (max-width: 1300px) {
  .block {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 1000px) {
  .block {
    width: 50px;
    height: 50px;
  }
}
